.App {
  position: relative;
  margin: 50px auto;
  width: 600px;
}

.app-container{
  position: relative;
  text-align: center;
  min-height: 550px;
  max-height: 650px;
  padding: 20px 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-experiences{}
.App-experiences-ul{
  margin: 10px 0px;
  padding: 10px 0px;
  background: rgba(245,245,245,1);
  cursor: pointer;
}
.App-tress-nodes:hover{
  background:#FCDF03;
}

.button-close{
  position: absolute;
  display: inline-block;
  padding: 0;
  float: right;
  top: 5px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
  color: black;
}
.button-close:hover{
  color: rgba(214, 42, 62, 1);
}
.container-messages{
  height: 60px;
}
.experiences-container{
  margin: 10px 0px;
  padding: 10px 0px;
}

.selectSchedules {
  padding: 5px;
}
.schedule {
  padding: 5px;
  border: 1px solid;
  border-radius: 6px;
  margin: 10px 5px;
}
.schedule:hover {
  cursor: pointer;
  background: #5a6268;
  color: white;
}
.schedule-select {
  background: #5a6268;
  color: white;
}
#checkout-button{
  background-color: rgb(137,0,255);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  width: 250px;
  height: 70px;
  border-radius: 6px;
  text-align: center !important;
  margin: auto;
  padding: 10px;
  cursor: pointer;
}
button:disabled{
  cursor: not-allowed;
}